@import '../../style/colors'; 
@import '../../style/mixins';

.header {
    position: fixed;
    top: 0; left: 0;
    @include flex(column, center, center);

    &__title {
        text-align: center;
        width: 100vw;
        color: $title;
    }

    &__navbar {
        @include flex(row, center, center);

        .navbar__link {
            margin: 0 2vw;

            &:hover {
                color:red;
            }
        }
    }
}