@import '../../style/colors';
@import '../../style/mixins';

.gallery {
    width: 100%;
    overflow: hidden;
    @include flex(row, space-around,center);
    
    &__slider {
        display: flex;
        // border-radius: 2vh;
        // outline: 2vh solid orange;
        box-shadow: 0 0 2vh 0 orange;
        max-width: 30vw;
        height: 70vh;
        width: 100%;
        margin: 0 2vh;

        scroll-snap-type: x mandatory;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            width: 5px;               /* width of the entire scrollbar */
          }
          
          &::-webkit-scrollbar-track {
            background: orangered;  /* color of the tracking area */
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: rgba(128, 128, 128, 0.637);    /* color of the scroll thumb */
            // border-radius: 20px;       /* roundness of the scroll thumb */
            position: absolute;
            bottom: 5px;

            &:hover{
                background-color: rgba(131, 5, 5, 0.637);
            }
          }
        
        .slider {

            &__image {
                width:100%;
                object-fit: cover;
                scroll-snap-align: center;
            }
        }
    }

    &__video-box {
      display: flex;
      flex-direction: column; 
      flex-wrap: wrap;

      .video-box__video {
        margin: 2vh;
      }
    }
}