.qui-som {
    width: 100vw;
    margin: 0;

    p {
        margin: 2vh 0;
        width: 100%;
        text-align: center;
    }

    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    
        &__a {        
            background-image: url("../../assets/png/2.png");
            height: 100vh; 
            width: 100vw;
        }

        &__b {
            background-image: url("../../assets/png/10.png");
            height: 100vh; 
            width: 100vw;
        }

        &__c {
            background-image: url("../../assets/png/13.png");
            min-height: 100vh; 
            width: 100vw;
        }
        
        &__d {
            background-image: url("../../assets/png/18.png");
            min-height: 100vh; 
            width: 100vw;
        }
        
        &__e {
            background-image: url("../../assets/png/21.png");
            min-height: 100vh; 
            width: 100vw;
        }
        
        &__f {
            background-image: url("../../assets/png/25.png");
            min-height: 100vh; 
            width: 100vw;
        }
        
        &__g {
            background-image: url("../../assets/png/27.png");
            min-height: 100vh; 
            width: 100vw;
        }

        &__txt {
            background-color: red;
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            color: white;
            margin: 3vmin 0;
        }
    }
}