@import '../../style/colors'; 
@import '../../style/mixins';

.header {
    width: 100vw;
    position: fixed;
    top: 0; left: 0;
    @include flex(row, space-between, center);
    background-color: $main-color;

    &__title-link {
        text-decoration: none;
    }

    &__title {
        text-align: center;
        width: 20vw;
        color: $title-color;
        text-decoration: none;
    }

    &__navbar {
        @include flex(row, center, center);
        margin-right: 2vw;

        .navbar__link {
            margin: 0 1vw;
            color: $title-color;
            text-decoration: none;
            
            &:link {
                color: $title-color;
            }
            &:hover {
                color:$title-hover-color;
            }

            &-icon {
                width: 1.5rem;
                height: 1.5rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                
                &--facebook {
                    background-image: url("../../assets/facebook-3.svg");
                }

                &--instagram {
                    background-image: url(../../assets/instagram-2-1.svg);
                }
            }
        }
    }
}