.gallery {
    height: 81vh;
    width: 100%;
    background-color: red;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    &__slider {
        position:absolute;
        display: flex;
        
        max-width: 50vw;
        height: 70vh;
        width: 100%;

        scroll-snap-type: x mandatory;
        overflow-y: hidden;
        
        .slider {

            &__image {
                width:100%;
                object-fit: cover;
                scroll-snap-align: center;
            }
        }
    }
}