@import '../../style/mixins';

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;

    &__list {
        color: green;
        @include flex(row, center, center);

        li{
            margin: 0 2vw;
        }
    }
}